.CommitTitleContainer
  display: flex
  font:
    family: 'PT Sans'
  align-items: center
  margin-top: 15px

  &-Title
    line-height: 28px
    font:
      size: 24px
      weight: bold
    flex-grow: 1

  &-Files
    line-height: 15px
    font: 
      size: 13px
    box-sizing: border-box
    cursor: pointer
    padding: 4px 8px
    background-color: #E6E6E6
    border-radius: 4px
  
  &-FilesIcon
    display: inline-block
    vertical-align: middle
    width: 20px
    height: 20px
    background:
      image: url(/img/files.svg)
      repeat: no-repeat
      position-x: center
      position-y: center
  
  &-FilesText
    vertical-align: middle
    display: inline-block