@import ../constants
  
.RepositorySelector
  height: 100%
  line-height: 18px
  font:
    family: 'PT Sans'
    size: 16px
  
  &-Text
    box-sizing: border-box
    border-bottom: 
      width: 3px
      style: solid
      color: $selector-underline-red

    &>*
      display: inline-block
      margin-top: 10px

  &-Repository
    font-weight: bold

  &-Name
    margin-left: 5px

  &-Arrow
    margin-top: -3px


