.CommitPreview-Navigation
  .CommitPreview-Location
    span.CommitPreview-LocationStart= locationStart
    span.CommitPreview-LocationFinish= locationFinish
  .CommitPreview-Down
    span.CommitPreview-ArrowDown
    | Below 20 lines
  .CommitPreview-Up
    span.CommitPreview-ArrowUp
    | Above 20 lines