.Footer
  .Footer-Trademark.Footer-Text Trade secrets of Yandex LLC. 16, Lev Tolstoy Str., Moscow, Russia, 119021
  .Footer-UiVersion.Footer-Text UI: 0.1.15
  .Footer-Copyright.Footer-Text © 2007—2019 
    span.Link Yandex