-const ItemAndBranchContainer = 'ItemAndBranchContainer'
div(class=ItemAndBranchContainer)
  div(class=['SelectedItem', `${ItemAndBranchContainer}-Item`])= item
  div(class=['BranchSelector', `${ItemAndBranchContainer}-Branch`])= branch