-const ItemAndBranchContainer = 'ItemAndBranchContainer'
div(class=ItemAndBranchContainer)

  -const SelectedItem = 'SelectedItem'
  div(class=[SelectedItem, `${ItemAndBranchContainer}-${SelectedItem}`])= item

  div(class=['BranchSelector', 'Selector'])= branch
    div(class='Selector-ArrowDown')