.RepositorySelector.Header-RepositorySelector.Selector 
  .RepositorySelector-Text
    span.RepositorySelector-Repository Repository 
    span.RepositorySelector-Name Arc
  .RepositorySelector-Arrow.Selector-ArrowDown