extends ../main.pug

append head
  title 2.1
  block adaptive

append main 
  include ../blocks/Breadcrumbs
  include ../blocks/Separator
  include ../blocks/ItemAndBranchContainer
  include ../blocks/LastCommitInfo
  include ../blocks/ViewSelector
  include ../blocks/Branches