html 
  head
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=PT+Sans&display=swap')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/adaptive.css')
    block head
  body
    include ./blocks/Header
    include ./blocks/Separator

    .Main
      block main

    include ./blocks/Footer
      