extends main.pug

append head
  title My Redux
  script(src='/js/my-redux.js')
  script(src='/lodash/lodash.min.js')
  link(rel='stylesheet', href='/css/main_1440.css')

append main 
  include ./blocks/Breadcrumbs
  include ./blocks/Separator
  include ./blocks/ItemAndBranchContainer
  include ./blocks/LastCommitInfo
  .ViewSelectorContainer
    include ./blocks/ViewSelector
    .SearchContainer
      input.SearchContainer-Input(id='search-container')
  .InfoTable(id='info-table')

append body_end
  script(src='/js/main.js')